.toper {
    background-image: url('/img/globos-fondo-rosa.jpg');
    background-size: cover;
    background-position: 40% 38%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ccc;
}

.logo {
    display: flex;
    height: 150px;
    width: auto;
    border-radius: 5%;
    box-shadow: 0 0 25px 15px #a45785;
    /* Usar márgenes responsivos para evitar desbordamiento en pantallas pequeñas */
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    text-shadow: 0 4px rgb(150, 146, 146);
}

.subtitulos{
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    border-style: double;
    border-color: #a45785;
    text-shadow: 0 4px rgb(150, 146, 146);
    padding: 5px;
}

.bi {
    color: #a45785; /* Color para los íconos */
    text-shadow: 0 5px 5px #85586c;
}

/* Efecto de brillo dorado y máquina de escribir */
.autor {
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid gold; /* Puntero dorado */
    width: 0;
    background: linear-gradient(90deg, rgb(184, 142, 38), rgb(255, 238, 0), rgb(184, 142, 38));
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: typing 8s steps(36, end) infinite, blink .5s step-end infinite, shine 1s ease-in-out infinite;
}

/* Efecto máquina de escribir */
@keyframes typing {
    0% { width: 0; }
    25% { width: 36ch; } /* Completa la escritura en el 25% del tiempo total */
    100% { width: 36ch; } /* Mantiene el ancho hasta el final del ciclo */
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* Efecto de brillo */
@keyframes shine {
    0% { background-position: 0%; }
    100% { background-position: 200%; }
}

.footer{
    text-align: center;
    width: 100%;
    background-color: #85586c;
    overflow-x: hidden; /* Esto debería ayudar a evitar el desbordamiento horizontal */
}