<div class="toper encabezado py-4 d-flex align-items-center justify-content-center">
    <h1 class="text-center p-0 m-0 flex-grow-1 titulo">¡Sonrisas en el Aire!</h1>
</div>

<div class="fondo">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<footer>

</footer>